extends base.pug
block css 
    link(rel="stylesheet", href="../css/apply.css")
block modal 
    if result
        .modal 
            .white-bg
                .modal-trigger 
                    span
                    span
                .box
                    p #{result}
block content 
    main.inner
        .apply.en(data-splitting) Anointing HwaYang
            .box
        form(method="POST" action="/apply") 
            input(class="type", type='text', name="name", placeholder='이름을 적어주세요!', required="true")
            input(class="type", type='text', name="num", placeholder='연락처를 적어주세요!', required="true" minlength="10")
            input(class="type", type='text', name="department", placeholder='소속을 적어주세요!', required="true")
            select(class="type" name="time") 
                option(value="1부") 1부 9시 30분
                option(value="2부") 2부 11시 30분
            input(type='submit', value="신청하기", class="type btn")
    section.inner
        if status
            p 1부 잔여좌석 : 
                span.one #{210-one-1}석
            p 2부 잔여좌석 : 
                span.two #{210-two}석
        else if statusTwo
            p 1부 잔여좌석 : 
                span.one #{210-one}석
            p 2부 잔여좌석 : 
                span.two #{210-two-1}석
        else
            p 1부 잔여좌석 : 
                span.one #{210-one}석
            p 2부 잔여좌석 : 
                span.two #{210-two}석
block js 
    script(src="../js/num.js") 
        